.site_header {
  width: 100%;
  display: flex;
}

.site_header > div {
  width: 25%;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  background-color: cornflowerblue;
}

.site_header > div:nth-child(1) {
  font-weight: bold;
  font-size: 1.5em;
}
