.length-list-item {
  margin: -1px 0 0 0;
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
}

.length-list-item > div {
  line-height: 30px;
}

.title {
  width: 180px;
  text-align: center;
  font-weight: bold;
}

.term_text {
  width: 120px;
}

.length {
  min-width: 220px;
  padding: 0 8px;
  flex-grow: 1;
}

.length img {
  height: 10px;
}
